md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 250px !important;
 width: 100vw !important;
 max-width: 250px !important;
}

.button-control {
  padding: 8px !important;
  width: 30px !important;
  text-align: center;
}
.button-control > i {
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}
.button-control-videocall {
  background-color: #3949ab !important;
  color: white !important;
  border-width:2px;
  border-color:black !important;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.button-control-videocall-red {
  background-color:  red !important;
  color:  white !important;
  border-width:2px;
  border-color: black;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

}

.ng-scope { height: 100%; }


.border-radius {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*border: 1px solid #000000;*/
}
.border-radius-high {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  /*border: 1px solid #000000;*/
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 0.5s;
	-moz-animation-duration:0.5s;
	animation-duration:0.5s;
}

.drag-n-drop-zone {
  border: 5px dashed  #3f51b5;
  background-color:#c5cae9;
  color: #3f51b5;
  width: 100%;
  height: 100%;
}

.file-list-element {
  /*margin: 3px 3px 3px 3px;*/
  /*padding: 3px 3px 3px 3px;*/
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;

}
/*{'background-color':'rgb(63,​ 81,​ 181)',
  'color' : 'rgb(197,​ 202,​ 233)'} :
{'background-color':'none',
'color' : 'black' }*/
.list-selection {
  background-color: #3f51b5;
  color : white;
}
.list-selection-unselected {
  background-color: none;
}
