md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 250px !important;
 width: 100vw !important;
 max-width: 250px !important;
}

.button-control {
  padding: 8px !important;
  width: 30px !important;
  text-align: center;
}
.button-control > i {
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}
.button-control-videocall {
  background-color: #3949ab !important;
  color: white !important;
  border-width:2px;
  border-color:black !important;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.button-control-videocall-red {
  background-color:  red !important;
  color:  white !important;
  border-width:2px;
  border-color: black;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

}

.ng-scope { height: 100%; }

/*choice icon are the icons of the cpioce page*/
.border, .choice-icon:hover {
    border-style: solid;
    border-width: 3px;
}


.border-radius {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  /*border: 1px solid #000000;*/
}
.border-radius-high {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  /*border: 1px solid #000000;*/
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

.videocall-status-div {
   color: #C4C4C4;


 }

.drag-n-drop-zone {
  border: 5px dashed  #3f51b5;
  background-color:#c5cae9;
  color: #3f51b5;
  width: 100%;
  height: 100%;
}

.file-list-element {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.list-selection {
  background-color: #3f51b5;
  color : white;
}

.list-selection-unselected {
  background-color: none;
}

/*Room creator classes*/
.file-room-creation, .av-room-creation {
  position: relative;
  z-index: 2;
}
.roomCreatorContent  {
  z-index: 3;
}

/*Big icon font awesome*/
.fa-biger{
    font-size:250px !important;

  /*transform: scale(15,15);*/
  /*color: black;*/
  /*font-family: 'FontAwesome';*/
  /*font-size: 100px;*/

}

/*Background font awesome icon*/
.file-room-creation:before, .av-room-creation:before{
  position: absolute;
  font-family: 'FontAwesome';
  margin: auto;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  transform: scale(30,30);
  color: #F2F2F2;

}

/*Font awesome icons for backround*/
.file-room-creation:before{
  content: "\f07b";
}
.av-room-creation:before {
  content: "\f03d";
}


/*Choice page*/
.parallax{
  background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
  color: white;

}
