<md-content ng-controller="tutoCntrl" ng-init="showSimpleToast()" style="min-height: calc(100vh - 176px)" layout="row" layout-row  flex>

  <!-- ICON THAT OPEN SIDENAV -->
  <md-fab-speed-dial ng-cloak ng-init="show=true"  class="md-fling md-fab-top-left hide-gt-sm" md-direction="right">
    <md-fab-trigger>
        <md-button  aria-label="menu" class="md-fab md-primary md-mini" ng-click="toggleLeft()">
          <md-icon md-font-icon="fa-bars" class="fa fa-lg" ></md-icon>
        </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>



  <!-- SIDENAV -->
    <!-- Sidenav Header -->
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-disable-backdrop
            md-whiteframe="4" flex>
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Room: "{{roomId}}"</h1>
            <div class="md-toolbar-tools">

              <div ng-show="myId">
                <md-button ng-click="disconnect()" aria-label="comment" class="md-accent md-raised md-hue-5" >
                  <md-icon md-font-icon="fa-sign-out" class="fa fa-lg" style="color:white;" ></md-icon>
                </md-button>
              </div>
              <div ng-show="!myId">
                <span class="md-caption">You need to log in:</span>
                <md-button ng-init="my_init()" ng-click="my_init()" aria-label="comment" class="md-button btn-success" style="background-color: #329932;" >
                  Login!
                </md-button>
              </div>

            </div>
          </md-toolbar>
          <md-content layout-padding ng-controller="LeftCtrl">

            <!-- Self ID -->
            <span ng-show="myId"  ><span class="md-caption">Your <strong>easyrtc</strong> id is: </br>{{myId}} </span>
            </span>
            <md-divider inset></md-divider>

            <!-- Show users list -->
            <div hide-md show-gt-md>
              <div ng-repeat="user in UserList" layout-align="center center"
              ng-class="user.easyrtcid == easyrtcidOfSelected ? 'list-selection' : 'list-selection-unselected' ">
              <div layout="row" layout-align="center start">

                <p ng-click="fileListPetition(user.easyrtcid); " >{{user.easyrtcid}}</p>
                <!-- <div layout="row" layout-align="center center">
                  <span class="md-caption">Send private file </span>
                  <div ng-init='conectionToPeer(user.easyrtcid)' class="button-control" alt="VideoCall" style="background-color:#009688;color:white;"><i class="fa fa-space-shuttle"></i></div>
                </div> -->

                  <div ng-click="changeDestiny(user.easyrtcid); "
                  ng-style ="
                  destiny == user.easyrtcid ? {'color':'red'} :  {'color':'white'} " class="button-control" style="background-color:#9c27b0;" alt="VideoCall" >
                  <!-- <div ng-click="changeDestiny(user.easyrtcid); destiny==defaultDestiny ? privateMessageStyle={color:'white'} :  privateMessageStyle={color:'red'} " class="button-control" style="background-color:#9c27b0;" alt="VideoCall" ng-init="privateMessageStyle={color:'white'}"> -->
                    <md-tooltip md-direction="right">
                      Private message
                    </md-tooltip>
                    <i class="fa fa-comment" ng-style="privateMessageStyle;"></i>

                    <!-- <i class="fa fa-comment" style="privateMessage;" ng-show="!(destiny==defaultDestiny)" ng-click="changeDestiny(defaultDestiny)"></i> -->
                  </div>
                </div>
                <md-divider inset></md-divider>

              </div>
            </div>
          </md-content>
        </md-sidenav>

        <!-- CENTER -->
        <md-content layout="column"  flex="70">
          <md-content layout="row"   flex>
            
            <!-- SELF DRAG AND DROP -->
            <md-content flex="50" layout="column"   class="border-radius"   layout-align="center center" layout-margin>

              <md-content id="{{dropAreaName}}{{myId}}"  class="dragndrop connected drag-n-drop-zone border-radius-high" layout-align="center center" layout="column" flex >
                  <button  id="fileInput"  ngf-select="uploadFiles($files , myId )" multiple class="ng-hide">Select Files</button>
                  <md-button type="button" class="md-raised md-primary"
                   onclick="document.getElementById('fileInput').click()">Browse files</md-button>
                  <span class="md-title " >Or Drag&Drop!</span>
              </md-content>

            </md-content>
            <!-- SELF SHOW FILES -->
            <md-content flex="50" layout="column"   md-whiteframe="5">

              <!-- <md-toolbar layout="row" class="md-theme-indigo" >
                    <div class="md-toolbar-tools">
                      <span>Files to Share with everybody:</span>
                    </div>
              </md-toolbar> -->

              <!-- <md-content>
                <md-list class="md-dense" >
                  <md-subheader class="md-no-sticky">3 line item (dense)</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="file in filesToSend">
                      {{file.name}}
                    </md-list-item>
                    <md-divider ></md-divider>
                  </md-list>
                </md-content> -->
              <!-- <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Public">
                  <md-content class="md-padding">
                    <div ng-repeat="file in ownFileList.files"  class="file-list-element" class="file-list-element" flex>
                        <i class="fa {{file.type | fileIcon }} fa-lg"></i>
                        {{file.name}} -
                        <strong>{{file.size | bytes}}</strong>
                        <span ng-show="file.bar.progress" > - {{file.bar.progress | number:1 }}% to {{actualUserReceiver}}</span>
                        <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.name}}' ng-model="file.bar.name" ng-show="file.bar.progress" ></md-progress-linear>
                        <md-divider ></md-divider>
                    </div>
                  </md-content>
                </md-tab>
              </md-tabs> -->
              <!-- <div  class="button-control" style="background-color:#3949ab;color:white;" ng-click="selected('null')">
                <i class="fa fa-cloud-download"></i>
              </div>{{selectedDestiny}} -->

              <md-tabs md-border-bottom md-autoselect md-dynamic-height md-selected="selectedIndex" >
                <md-tab ng-repeat="list in ownFileList"
                   md-on-select="selected(list)"
                   ng-init="selectedDestiny=list.destiny">
                   <md-tab-label>
                    {{list.destiny == myId ? 'PUBLIC' : list.destiny}}
                    <i class="fa fa-times-circle" ng-click="removeTab( list )" aria-hidden="true"></i>
                  </md-tab-label>
                  <md-tab-body>
                    <!-- <md-button class="md-primary md-raised" ng-click="removeTab( list )">Remove Tab</md-button> -->

                    <div ng-repeat="file in list.files" class="file-list-element" flex>
                      <div ng-hide="file.bar.progress">
                        <i class="fa {{file.type | fileIcon }} fa-lg"></i>
                        {{file.name}} -
                        <strong>{{file.size | bytes}}</strong>
                      </div>

                        <!-- <span ng-show="file.bar.progress" > - {{file.bar.progress | number:1 }}% <span class="md-caption">to {{file.bar.destinatary}}</span></span>
                        <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.name}}' ng-model="file.bar.name" ng-show="file.bar.progress" ></md-progress-linear> -->

                      <md-content flex layout="row" layout-align="start center" ng-show="file.bar.progress" >
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        <md-content flex layout="column" layout-align="center start" >
                          <span class="md-caption" >
                            Sending <strong>{{file.name}}</strong> {{file.bar.progress | number:1 }}%
                            of  {{file.size | bytes}} to {{file.bar.destinatary}}
                          </span>
                          <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.id}}' ng-model="file.bar.id"  flex></md-progress-linear>
                        </md-content>
                      </md-content>

                      <md-divider ></md-divider>

                    </div>
                  </md-tab-body>
                </md-tab>
              </md-tabs>

            <!-- </md-content> -->


            </md-content>

          </md-content>

         <!-- BOTTOM SPACE -->
          <md-content layout="row"  flex="50" >
            <md-content flex="50" layout="column"   class="border-radius" md-whiteframe="5">
              <!-- BOTTOM FILE LIST -->
              <!-- <md-toolbar layout="row" class="md-theme-indigo" >
                    <div class="md-toolbar-tools">
                      <span>
                        {{easyrtcidOfSelected ? "Files from "+easyrtcidOfSelected : "Select users for see their files"}}
                      </span>
                    </div>
              </md-toolbar> -->

              <md-tabs md-border-bottom md-autoselect md-dynamic-height md-selected="selectedIndextwo" >
                <md-tab ng-repeat="list in tabs.fileLists"
                   >
                   <md-tab-label>
                    {{list.destiny == myId ? 'PRIVATE' : 'PUBLIC'}}
                    <i class="fa fa-times-circle" ng-click="removeTabExternals ( list )" aria-hidden="true"></i>
                  </md-tab-label>
                  <md-tab-body>

                    <md-content flex layout="row" layout-align="center center">
                      <div class="button-control"style="background-color:#009688;color:white;" ng-click="fileListPetition(easyrtcidOfSelected)">
                        <md-tooltip md-direction="left">
                          Refresh list
                        </md-tooltip>
                        <i class="fa fa-refresh"></i>
                      </div>
                      <div  class="button-control" style="background-color:#3949ab;color:white;" ng-click="downloadPetiton(easyrtcidOfSelected , list )">
                        <md-tooltip md-direction="top">
                          Download all
                        </md-tooltip>
                        <i class="fa fa-cloud-download"></i>
                      </div>
                    </md-content>

                    <!-- <div ng-repeat="file in list.files" class="file-list-element" flex>
                      <i class="fa {{file.type | fileIcon }} fa-lg"></i>
                      {{file.name}} -
                      <strong>{{file.size | bytes}}</strong> {{file.bar.progress}}
                      <span ng-show="file.bar.progress" > - {{file.bar.progress | number:1 }}%</span>
                      <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.name}}' ng-model="file.bar.name" ng-show="file.bar.progress" ></md-progress-linear>
                      <md-divider ></md-divider>
                    </div> -->

                    <div ng-repeat="file in list.files" class="file-list-element" flex>
                      <div ng-hide="file.bar.progress">
                        <i class="fa {{file.type | fileIcon }} fa-lg"></i>
                        {{file.name}} -
                        <strong>{{file.size | bytes}}</strong>
                      </div>

                        <!-- <span ng-show="file.bar.progress" > - {{file.bar.progress | number:1 }}% <span class="md-caption">to {{file.bar.destinatary}}</span></span>
                        <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.name}}' ng-model="file.bar.name" ng-show="file.bar.progress" ></md-progress-linear> -->

                      <md-content flex layout="row" layout-align="start center" ng-show="file.bar.progress" >
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        <md-content flex layout="column" layout-align="center start" >
                          <span class="md-caption" >
                            Sending <strong>{{file.name}}</strong> {{file.bar.progress | number:1 }}%
                            of  {{file.size | bytes}} to {{file.bar.destinatary}}
                          </span>
                          <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.id}}' ng-model="file.bar.id"  flex></md-progress-linear>
                        </md-content>
                      </md-content>

                      <md-divider ></md-divider>

                    </div>




                  </md-tab-body>
                </md-tab>
              </md-tabs>

              <!-- <div ng-repeat="file in selectedFileList.files"  class="file-list-element" class="file-list-element" ng-model="file.bar.name" flex>
                <i class="fa {{file.type | fileIcon }} fa-lg"></i>
                {{file.name}} -
                <strong>{{file.size | bytes}}</strong>
                <span ng-show="file.bar.progress" > - {{file.bar.progress | number:1 }}%</span>
                <md-progress-linear md-mode="determinate" value="{{file.bar.progress}}"  id='{{file.bar.name}}' ng-model="file.bar.name" ng-show="file.bar.progress" ></md-progress-linear>
                <md-divider ></md-divider>
              </div>-->
            </md-content>

            <!-- OLD(MENU DOWNLOAD OR UPDATE) -->
            <!-- Progress bar and message status space -->
            <md-content flex="50" layout="column" >
              <md-content flex="25" layout="row" layout-align="center center">
                <md-content flex layout="column" >
                  <!-- <md-content flex layout="row" layout-align="center center">
                    <div class="button-control"style="background-color:#009688;color:white;" ng-click="fileListPetition(easyrtcidOfSelected)">
                      <md-tooltip md-direction="left">
                        Refresh list
                      </md-tooltip>
                      <i class="fa fa-refresh"></i>
                    </div>
                    <div  class="button-control" style="background-color:#3949ab;color:white;" ng-click="downloadPetiton(easyrtcidOfSelected)">
                      <md-tooltip md-direction="top">
                        Download all
                      </md-tooltip>
                      <i class="fa fa-cloud-download"></i>
                    </div>
                  </md-content> -->
                  <md-content flex layout="row" layout-align="start start">
                    <span class="md-caption">{{transactionMsg}} </span>
                  </md-content>

                  <md-content flex layout="row" layout-align="start center" ng-repeat="bar in progressBarList">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    <md-content flex layout="column" layout-align="center start" >
                      <span ng-show="bar.progress" class="md-caption" >
                        Sending <strong>{{bar.id}}</strong> {{bar.progress | number:1 }}%
                        of  {{bar.size | bytes}}
                        <!-- to {{bar.meta.to}} -->
                      </span>
                      <md-progress-linear md-mode="determinate" value="{{bar.progress}}"  id='{{bar.id}}' ng-model="bar.id" ng-show="bar.progress" flex></md-progress-linear>
                      <md-divider ></md-divider>
                    </md-content>
                  </md-content>

                  <!-- {{easyrtcidOfSelected}} -->

                </md-content>
              </md-content>

               <!-- PRIVATE DRAG&DROP-->
              <md-content flex="75" layout="column"   class="border-radius"   layout-align="start start" ng-show="easyrtcidOfSelected">

                <span class="md-caption">Send files privately to: {{easyrtcidOfSelected}} </span>
                <md-content id="{{dropAreaName}}{{easyrtcidOfSelected}}"  class="dragndrop connected drag-n-drop-zone border-radius-high" layout-align="center center" ng-model="privateDragNDrop" layout="column" >

                    <button  id="fileInputPrivate"  ngf-select="uploadFiles($files , easyrtcidOfSelected )" multiple class="ng-hide">Select Files</button>
                    <md-button type="button" class="md-raised md-primary" onclick="document.getElementById('fileInputPrivate').click()" >Browse files</md-button>
                    <span class="md-title " >Or Drag&Drop!</span>
                    <!-- createDragAnDrop(user.easyrtcid); -->

                </md-content>
                <!-- <div ng-if="privateDragNDrop">
                    <script type="text/javascript">
                        $scope.createDragAnDrop ($scope.easyrtcidOfSelected);
                    </script>
                </div> -->
              </md-content>

            </md-content>
          </md-content>
        </md-content>

        <!-- CHAT SPACE -->
        <div flex="30"  style="border: 1px solid grey;" class="border-radius" layout="column" ng-show="myId">
          <md-content chat  ></md-content>
        </div>


</md-content>
