<md-content ng-controller="tutoCntrl" ng-init="showSimpleToast()" style="min-height: calc(100vh - 176px)" layout="row" layout-row  flex>

  <!-- ICON THAT OPEN SIDENAV -->
  <md-fab-speed-dial ng-cloak ng-init="show=true"  class="md-fling md-fab-top-left hide-gt-sm" md-direction="right">
    <md-fab-trigger>
        <md-button  aria-label="menu" class="md-fab md-primary md-mini" ng-click="toggleLeft()">
          <md-icon md-font-icon="fa-bars" class="fa fa-lg" ></md-icon>
        </md-button>
    </md-fab-trigger>
  </md-fab-speed-dial>



  <!-- SIDENAV -->
    <!-- Sidenav Header -->
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-disable-backdrop
            md-whiteframe="4" flex>
          <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Room: "{{roomId}}"</h1>
            <div class="md-toolbar-tools">

              <div ng-show="myId">
                <md-button ng-click="disconnect()" aria-label="comment" class="md-accent md-raised md-hue-5" >
                  <md-icon md-font-icon="fa-sign-out" class="fa fa-lg" style="color:white;" ></md-icon>
                </md-button>
              </div>
              <div ng-show="!myId">
                <span class="md-caption">You need to log in:</span>
                <md-button ng-init="my_init()" ng-click="my_init()" aria-label="comment" class="md-button btn-success" style="background-color: #329932;" >
                  Login!
                </md-button>
              </div>

            </div>
          </md-toolbar>
          <md-content layout-padding ng-controller="LeftCtrl">

            <!-- Self image -->
            <span ng-show="myId"  ><span class="md-caption">Your <strong>easyrtc</strong> id is: </br>{{myId}} </span>

              <div style="margin:0px;" >

                <div  style="position:relative;" width="220">
                  <div style="position:absolute;  margin:0px auto;" >
                    <div
                    ng-init="selfMicro=true"
                    ng-class="selfMicro ? 'button-control-videocall' : 'button-control-videocall-red'"
                    class="button-control"
                    ng-click="selfMicro=!selfMicro;stopMicro(selfMicro)"
                    ng-model="selfMicro">
                      <i class="fa " ng-class="selfMicro ? 'fa-microphone' : 'fa-microphone-slash'"></i>
                    </div>
                    <div
                    ng-init="selfVideo=true"
                    class="button-control"
                    ng-class="selfVideo ? 'button-control-videocall' : 'button-control-videocall-red'"
                    ng-click="selfVideo=!selfVideo;stopVideo(selfVideo)"
                    ng-model="selfVideo">
                      <i class="fa " ng-class="selfVideo ? 'fa-video-camera' : 'fa-play'" ></i>
                    </div>
                  </div>
                  <video  id="self" width="220"  muted="muted" ></video>
                </div>
              </div>
            </span>
            <!-- Show users list -->
            <div hide-md show-gt-md>
              <div ng-repeat="user in UserList" ng-click="" layout-align="center center">
                <p>{{user.easyrtcid}}</p>
                <div layout="row" layout-align="center start">
                  <div ng-click='performCall(user.easyrtcid)' class="button-control" alt="VideoCall" style="background-color:#009688;color:white;"><i class="fa fa-video-camera"></i></div>
                  <div ng-click='my_init(true);performCall(user.easyrtcid)' class="button-control" style="background-color:#3949ab;color:white;" alt="VideoCall"><i class="fa fa-phone"></i></div>
                  <!-- <div ng-click="changeDestiny(user.easyrtcid)" class="button-control" style="background-color:#9c27b0;color:white;" alt="VideoCall"><i class="fa fa-comment"></i></div> -->

                  <div ng-click="
                  changeDestiny(user.easyrtcid);"
                  ng-style ="
                  destiny == user.easyrtcid ? {'color':'red'} :  {'color':'white'} " class="button-control" style="background-color:#9c27b0;" alt="VideoCall" >
                    <md-tooltip md-direction="right">
                      Private message
                    </md-tooltip>
                    <i class="fa fa-comment" ng-style="privateMessageStyle;"></i>
                  </div>
                </div>
                <md-divider inset></md-divider>

              </div>
            </div>
          </md-content>
        </md-sidenav>


    <!-- VIDECALL SPACE -->
    <div layout="row" layout-sm="column" layout-xs="column"  flex>

      <md-content flex="100" layout="column" layout-sm="row" layout-xs="row" flex-gt-sm="60"  class="border-radius">
        <md-content layout="row"   flex>

          <!-- VIDEO -->
          <md-content layout="row" layout-align="center start" ng-show="callInProgres" flex>
            <div   style="container-fluid" ng-show="callInProgres" style=""  >
                  <!-- video -->
                  <video class="img-responsive" id="caller" width="100%" mute="{{muteCaller}}" ng-show="noVideoCaller"></video>
            </div>
          </md-content>

          <!-- BACKGROUND DIV -->
          <md-content layout="row" layout-align="center center"  flex ng-show="!callInProgres" >
            <div>
            Messages like: you need to call, calling, call rejected...<br/>
            This will be inside a icon like:
            <div width="50px" style="border: 2px solid grey ;">
              $scope.icon (call, nothing, calling, rejected) <br/>
              $scope.message (the status message)<br/>
              $scope.submessage (the status submessage)
            </div>
            Hided during a call
          </div>
          </md-content>
        </md-content>

        <!-- Call Options -->
        <md-fab-speed-dial
        ng-cloak
        class="md-fling md-fab-bottom-left"
        md-direction="right"
        >
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon md-svg-src="img/icons/ic_settings_phone_white_24px.svg"></md-icon>
            </md-button>
          </md-fab-trigger>

          <md-fab-actions>
            <md-button ng-click="muteCaller=!muteCaller" class="md-fab md-mini"  ng-class="muteCaller ? 'md-accent': 'md-primary'" ng-init="muteCaller = false"  aria-label="muteCaller">
              <md-icon ng-show ="muteCaller" md-font-icon="fa-microphone-slash" class="fa fa-lg" style="color:white;" ></md-icon>
              <md-icon ng-show ="!muteCaller"  md-font-icon="fa-microphone" class="fa fa-lg" style="color:white;" ></md-icon>
            </md-button>

            <md-button ng-click="noVideoCaller=!noVideoCaller" class="md-fab md-mini" ng-class="noVideoCaller ? 'md-primary': 'md-accent'"  ng-init="noVideoCaller = true" aria-label="noVideoCaller">
              <md-icon ng-show="noVideoCaller" md-svg-src="img/icons/ic_videocam_white_24px.svg"></md-icon>
              <md-icon ng-show="!noVideoCaller" md-svg-src="img/icons/ic_videocam_off_white_24px.svg"></md-icon>
            </md-button>

          </md-fab-actions>
        </md-fab-speed-dial>

        <!-- hang up -->
        <md-fab-speed-dial ng-cloak class="md-fling md-fab-bottom-right" md-direction="right">
          <md-fab-trigger>
              <md-button style="background-color:red;" aria-label="menu" class="md-fab md-warn" ng-click="callInProgres ? hangUpAll() : null">
                <md-icon md-svg-src="img/icons/ic_phone_missed_white_24px.svg" class="fa fa-lg" style="color:white;" ></md-icon>
              </md-button>
          </md-fab-trigger>
        </md-fab-speed-dial>

      </md-content>

      <!-- CHAT SPACE -->
      <div flex flex-gt-sm="30"  style="border: 1px solid grey;" class="border-radius" layout="column" ng-show="myId">

        <!-- <ng-include src="'partials/chat/chat.html'" scope="this"></ng-include> -->
        <md-content chat layout='column' ></md-content>


        <!-- <div>
          <div layout='row' flex="initial"  layout-align-gt-sm="start start " layout-align="start start ">
            <div   layout-align='center end'  ng-class="screenIsSmall ? 'layout-fill' : none">
              <md-input-container class="md-icon-float md-block">
                <label>{{destiny}}</label>
                <md-icon md-font-icon="fa" class="fa fa-comment fa-lg"  style="color:grey;" ng-show="destiny==defaultDestiny" ></md-icon>
                <md-icon md-font-icon="fa" class="fa fa-comment fa-lg"  style="color:red;" ng-show="!(destiny==defaultDestiny)"  ng-click="changeDestiny(defaultDestiny)"></md-icon>
                <form ng-submit="send(newMsg);newMsg='';" >
                  <input ng-model="newMsg" type="text"  ng-cloak>
                </form>
              </md-input-container>
            </div>
            <md-button ng-click="send(newMsg);newMsg='';" class="md-fab md-mini md-primary"  aria-label="sendMessage">
              <md-icon md-svg-src="img/icons/ic_send_white_24px.svg" class="fa fa-lg" style="color:white;" ></md-icon>
            </md-button>
          </div>

          <md-content layout="row" layout-align="end start "  flex-gt-sm="100" flex="grow">
            <md-content layout="column"  layout-align="start end"  flex-gt-sm="100" flex="65">
              <md-content layout="row" >
                <md-content class="md-padding main-content"   flex="100" >

                  <div ng-repeat="msg in chat.msgList | reverse" class="fade-in">
                    {{msg.from}}: {{msg.content}}
                  </div>
                </md-content>
              </md-content>

            </md-content>
          </md-content>
        </div> -->



    </div>






</md-content>
