<md-content>

  <div layout='row' flex="initial"  layout-align-gt-sm="start start " layout-align="start start " >

    <!-- Emoji menus -->

    <div emojimenu  ng-controller="menuCntrl as ctrl"> </div>

    <!-- <md-menu md-position-mode="target-right target"  >
      <md-button aria-label="Open phone interactions menu" class="md-icon-button"  id="emojiMenu"  ng-click="ctrl.openMenu($mdOpenMenu, $event)"  >
        <md-icon md-font-icon="fa" class="fa fa-paw fa-lg"   ></md-icon>
      </md-button>
    <md-menu-content width="4" >
      <md-menu-item>
        <md-button ng-click="ctrl.redial($event)">
          <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
          Redial
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
          <md-icon md-svg-icon="call:voicemail"></md-icon>
          Check voicemail
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ng-click="ctrl.toggleNotifications()">
          <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
          {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
        </md-button>
      </md-menu-item>
    </md-menu-content>
    </md-menu> -->

    <div layout-align='center end'  ng-class="screenIsSmall ? 'layout-fill' : none"  >

      <!-- Input text message  -->
      <md-input-container class="md-icon-float md-block" >
        <label>To {{destiny}}</label>
        <form ng-submit="send(newMsg);newMsg='';" >
          <input ng-model="newMsg" type="text"  ng-cloak>
        </form>
      </md-input-container>

    </div>
    <!-- chat send button -->
    <md-button ng-click="send(newMsg);newMsg='';" class="md-fab md-mini md-primary"  aria-label="sendMessage">
      <md-icon md-svg-src="img/icons/ic_send_white_24px.svg" class="fa fa-lg" style="color:white;" ></md-icon>
    </md-button>
  </div>
  <!-- chat body -->
  <md-content layout="row" layout-align="end start "  flex-gt-sm="100" flex="grow">
    <md-content layout="column"  layout-align="start end"  flex-gt-sm="100" flex="65">
      <md-content layout="row" >
        <md-content class="md-padding main-content"   flex="100" >

          <div ng-repeat="msg in chat.chatList | reverse" class="fade-in">
            {{msg.from}}: <span ng-bind-html='msg.content | emoji'></span>
          </div>
        </md-content>
      </md-content>

    </md-content>
  </md-content>
</md-content>
